<div class="flex flex-col gap-2 h-full noValid form-minimum">
  <div class="flex flex-col flex-1 overflow-auto custom-scrollbar gap-2">
    <!-- 模板 -->
    @if (mode() === 'template') {
      <prompt-list
        [ngModel]="value$().template?.template ?? DefaultUserTemplate"
        (ngModelChange)="templateListChange($event)"
        (variableChange)="variableChanged($event)"
      >
      </prompt-list>
    }
    @if (mode() === 'workflow' || mode() === 'template') {
      @if (chatResult$(); as item) {
        <workflow-input [inputValue]="lastData"></workflow-input>
        <workspace-chat-result
          [result]="item!"
          [insertCodeAction]="codeAction()"
          [context]="$any(item).context"
        ></workspace-chat-result>
      }
    }
    @for (item of list$(); track $index) {
      <common-chat-result
        [result]="item"
        [index]="$index"
        [commonChat]="commonChat"
      ></common-chat-result>
    }
    <div class="flex-1"></div>
  </div>

  <!-- 不同对话部分，有工具栏和显示的历史 -->

  @if (loading$()) {
    <progress class="progress w-full progress-info"></progress>
  }
  <!-- 输入 -->
  <form ngForm (ngSubmit)="chatAll()" class="chat-input-form">
    <div class="flex nodrag items-end">
      @let defulatType = useChatType$$() === 'default';
      @if (!defulatType) {
        @if (invalidConfigList$().length) {
          <app-invalid-form
            name="agent"
            class="flex-1"
            [invalidConfigList]="invalidConfigList$()"
            [ngModel]="invalidValue$"
            (ngModelChange)="invalidValueChanged($event)"
          ></app-invalid-form>
        }
        @if (contextConfigList$().length) {
          <context-form
            name="agent"
            class="flex-1"
            [inputList]="contextConfigList$()"
            [ngModel]="contextValue$()"
            (ngModelChange)="contextValueChanged($event)"
          ></context-form>
        }
      } @else {
        <!-- 需要封装也就是新绑定 -->
        <chat-common-input
          name="common"
          class="flex-1"
          [ngModel]="value$().default?.input"
          (ngModelChange)="chatDefaultChange($event)"
          (submitChange)="chatAll()"
        ></chat-common-input>
      }

      <div class="flex gap-2 overflow-hidden">
        <ng-content select=".build-node-btn"></ng-content>
        <button
          class="btn btn-circle btn-soft btn-ghost btn-sm"
          type="submit"
          [disabled]="loading$()"
        >
          <span class="material-icons">send</span>
        </button>
      </div>
    </div>
  </form>
</div>
