<button
  [class]="
    'btn btn-circle btn-soft btn-ghost btn-sm'
      | mergeClass: 'btn-' + item().color
  "
  [matMenuTriggerFor]="menu"
  [matTooltip]="description() || item().description || ''"
>
  <span class="material-icons">{{ item().icon }}</span>
</button>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent>
    <div>
      @for (item of options(); track $index) {
        <button
          [class]="
            'btn btn-circle btn-soft btn-ghost'
              | mergeClass: 'btn-' + item.color
          "
          (click)="buttonClicked(item, $index)"
          [matTooltipDisabled]="!item.description"
          [matTooltip]="item.description!"
          [disabled]="loading$() && (item.disabled ? item.disabled() : false)"
        >
          <span class="material-icons">{{ item.icon }}</span>
        </button>
      }
      <ng-content select=".extra-menu"></ng-content>
    </div>
  </ng-template>
</mat-menu>
