:host {
  ::ng-deep {
    .editor-shell {
      margin: 0 auto;
      border-radius: 2px;
      max-width: 1100px;
      // color: #000;
      position: relative;
      font-weight: 400;

      height: 100%;
      line-height: 1.6;
      word-wrap: break-word;
      width: 100%;
    }

    .test-recorder-output {
      margin: 20px auto 20px auto;
      width: 100%;
    }

    pre {
      line-height: 1.1;
      background: #222;
      color: #fff;
      margin: 0;
      padding: 10px;
      font-size: 12px;
      overflow: auto;
      max-height: 400px;
    }

    .tree-view-output {
      display: block;
      background: #222;
      color: #fff;
      padding: 0;
      font-size: 12px;
      margin: 1px auto 10px auto;
      position: relative;
      overflow: hidden;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    pre::-webkit-scrollbar {
      background: transparent;
      width: 10px;
    }

    pre::-webkit-scrollbar-thumb {
      background: #999;
    }

    .editor-dev-button {
      position: relative;
      display: block;
      width: 40px;
      height: 40px;
      font-size: 12px;
      border-radius: 20px;
      border: none;
      cursor: pointer;
      outline: none;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
      background-color: #444;
    }

    .editor-dev-button::after {
      content: '';
      position: absolute;
      top: 10px;
      right: 10px;
      bottom: 10px;
      left: 10px;
      display: block;
      background-size: contain;
      filter: invert(1);
    }

    .editor-dev-button:hover {
      background-color: #555;
    }

    .editor-dev-button.active {
      background-color: rgb(233, 35, 35);
    }

    .test-recorder-toolbar {
      display: flex;
    }

    .test-recorder-button {
      position: relative;
      display: block;
      width: 32px;
      height: 32px;
      font-size: 10px;
      padding: 6px 6px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      outline: none;
      box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
      background-color: #222;
      transition: box-shadow 50ms ease-out;
    }

    .test-recorder-button:active {
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
    }

    .test-recorder-button + .test-recorder-button {
      margin-left: 4px;
    }

    .test-recorder-button::after {
      content: '';
      position: absolute;
      top: 8px;
      right: 8px;
      bottom: 8px;
      left: 8px;
      display: block;
      background-size: contain;
      filter: invert(1);
    }

    #options-button {
      position: fixed;
      left: 20px;
      bottom: 20px;
    }

    #test-recorder-button {
      position: fixed;
      left: 70px;
      bottom: 20px;
    }

    #paste-log-button {
      position: fixed;
      left: 120px;
      bottom: 20px;
    }

    #docs-button {
      position: fixed;
      left: 170px;
      bottom: 20px;
    }

    #test-recorder-button-snapshot {
      margin-right: auto;
    }

    .mentions-menu {
      width: 250px;
    }

    .auto-embed-menu {
      width: 150px;
    }

    .emoji-menu {
      width: 200px;
    }

    @media screen and (max-width: 1100px) {
      .dropdown-button-text {
        display: none !important;
      }

      .dialog-dropdown > .dropdown-button-text {
        display: flex !important;
      }

      .font-size .dropdown-button-text {
        display: flex !important;
      }

      .code-language .dropdown-button-text {
        display: flex !important;
      }
    }

    .emoji {
      color: transparent;
      caret-color: rgb(5, 5, 5);
      background-size: 16px 16px;
      background-position: center;
      background-repeat: no-repeat;
      vertical-align: middle;
      margin: 0 -1px;
    }

    .emoji-inner {
      padding: 0 0.15em;
    }

    .emoji-inner::selection {
      color: transparent;
      background-color: rgba(150, 150, 150, 0.4);
    }

    .emoji-inner::moz-selection {
      color: transparent;
      background-color: rgba(150, 150, 150, 0.4);
    }

    .keyword {
      color: rgb(241, 118, 94);
      font-weight: bold;
    }

    .debug-timetravel-panel {
      overflow: hidden;
      padding: 0 0 10px 0;
      margin: auto;
      display: flex;
    }

    .debug-timetravel-panel-slider {
      padding: 0;
      flex: 8;
    }

    .debug-timetravel-panel-button {
      padding: 0;
      border: 0;
      background: none;
      flex: 1;
      color: #fff;
      font-size: 12px;
    }

    .debug-timetravel-panel-button:hover {
      text-decoration: underline;
    }

    .debug-timetravel-button {
      border: 0;
      padding: 0;
      font-size: 12px;
      top: 10px;
      right: 15px;
      position: absolute;
      background: none;
      color: #fff;
    }

    .debug-timetravel-button:hover {
      text-decoration: underline;
    }

    .debug-treetype-button {
      border: 0;
      padding: 0;
      font-size: 12px;
      top: 10px;
      right: 85px;
      position: absolute;
      background: none;
      color: #fff;
    }

    .debug-treetype-button:hover {
      text-decoration: underline;
    }

    .connecting {
      color: #999;
      overflow: hidden;
      position: absolute;
      text-overflow: ellipsis;
      top: 10px;
      left: 10px;
      user-select: none;
      white-space: nowrap;
      display: inline-block;
      pointer-events: none;
    }

    .ltr {
      text-align: left;
    }

    .rtl {
      text-align: right;
    }

    .sticky-note-container {
      position: absolute;
      z-index: 9;
      width: 120px;
      display: inline-block;
    }

    .spacer {
      letter-spacing: -2px;
    }

    .TableNode__contentEditable {
      min-height: 20px;
      border: 0px;
      resize: none;
      cursor: text;
      display: block;
      position: relative;
      outline: 0px;
      padding: 0;
      user-select: text;
      white-space: pre-wrap;
      word-break: break-word;
      z-index: 3;
    }

    .PlaygroundEditorTheme__blockCursor {
      display: block;
      pointer-events: none;
      position: absolute;
    }

    .PlaygroundEditorTheme__blockCursor:after {
      content: '';
      display: block;
      position: absolute;
      top: -2px;
      width: 20px;
      border-top: 1px solid black;
      animation: CursorBlink 1.1s steps(2, start) infinite;
    }

    @keyframes CursorBlink {
      to {
        visibility: hidden;
      }
    }

    .dialog-dropdown {
      background-color: #eee !important;
      margin-bottom: 10px;
      width: 100%;
    }
  }
}
::ng-deep {
  .table-cell-action-button-container {
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
    z-index: 2000;
  }
  .table-cell-action-button {
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 15px;
    color: #222;
    display: inline-block;
    cursor: pointer;
    font-size: 8px;
    padding: 4px;
  }

  .dropdown {
    z-index: 100;
    display: block;
    position: fixed;
    box-shadow:
      0 12px 28px 0 rgba(0, 0, 0, 0.2),
      0 2px 4px 0 rgba(0, 0, 0, 0.1),
      inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    min-height: 40px;
    background-color: #fff;
    z-index: 2001;
  }

  .component-picker-menu {
    width: 200px;
  }
}
